
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h3>Új adat felvitele</h3>

<form method="post">
    <input name="Name"/>
    <button>felvitel</button>
</form>

@Html.ActionLink("Cancel","index")
