@model List<todo6.Models.TodoItem>
@{
    ViewBag.Title = "Todo";
}

<h2>Todo</h2>
<h3>@ViewBag.Message</h3>

<ol>

    @foreach (var item in Model)
    {
        if (item.Done)
        {
            <li><strike>@item.Name</strike></li>
        }
        else
        {
            <li>@item.Name</li>

        }

    }


</ol>

